.title{
    margin: auto;
    text-align: center;
    font-size: larger;
    margin-bottom: 20px;

}

.form-inline{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.form-control{
    margin-bottom: 15px;
}